.tc-btn {
  color: #ffffff;
  border-radius: 3px;
  padding: 6px 12px;
  border: 1px solid rgba(24, 144, 255, 1);
  background: #096dd9;
  background: rgba(24, 144, 255, 1);
}
.tc-btn-size-mini {
  padding: 3px 8px;
}
.tc-btn-size-small {
  padding: 5px 10px;
}
.tc-btn-size-medium {
  padding: 8px 14px;
}
.tc-btn-size-large {
  padding: 10px 16px;
}

.tc-btn-type-plain {

}

